<h3>Chassis control</h4>

<h4>Tools</h4>
<ul>

<li> Vert.x used as REST and non-blocking IO implementation
<li> Verax library used as IPMI communication implmentation 

</ul>

<h4>Links</h4>
<ul>
<li><a href="http://localhost:8999/ipmi/chassis/?host=msk.rsc-tech.ru&login=ADMIN&password=ADMIN">Chassis info</a>
<li><a href="http://localhost:8999/ipmi/chassis/power/?on=true&host=msk.rsc-tech.ru&login=ADMIN&password=ADMIN">Power on</a>
<li><a href="http://localhost:8999/ipmi/chassis/power/?on=false&host=msk.rsc-tech.ru&login=ADMIN&password=ADMIN">Power off</a>
<li><a href="http://localhost:8999/ipmi/chassis/power/reset/?activated=true&host=msk.rsc-tech.ru&login=ADMIN&password=ADMIN">Reset</a>
</ul>

<h4>Structure</h4>
<img src="structure-vertx.png">