<h3>Chassis control</h4>

<h4>Tools</h4>
<ul>

<li> Sun Jersey used as JAX-RS (REST) implementation
<li> Verax library used as IPMI communication implmentation 

</ul>

<h4>Links</h4>
<ul>
<li><a href="http://localhost:8080/ipmi/application.wadl">WADL</a>
<li><a href="http://localhost:8080/ipmi/ipmi/chassis/?host=msk.rsc-tech.ru&login=ADMIN&password=ADMIN">Chassis info</a>
</ul>

<h4>Structure</h4>
<img src="structure-jersey.png">